{% extends 'watchlist/base.html' %}
{% load static %}

{% block title %}
Stock Picker
{% endblock title %}

{% block css %}
<style></style>
{% endblock css %}

{%  block body %}
<div class="container">
    <h1>Stock Picker</h1>

    <form action="/track/" method="get">
        <label>Select Stocks:</label>
        <select class="form-select" size="15" multiple aria-label="multiple select example" name="stock_list">
            {% for stock in nifty_stocks %}
                <option value="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock body %}

{% block js %}
{% endblock js %}
